.user-form {
  padding: 30px 10px;
  /* width: 50%; */
}
.wizard > .content{
  background: unset;
  min-height : unset;
  /* border: 1px solid #4099ff; */
}
.wizard > .actions{
  text-align: center;
}
.wizard > .content > .body{
  position: inherit !important;
}
.userSearch input{
  border: 1px solid #ced4da;
    border-radius: 5px;
    height: calc(1.5em + 0.5rem + 2px);
}
.userSearch .fa-search{
background: #4099ff;
padding: 6px;
border: 1px solid #4099ff;
color: white;
cursor: pointer;
}

.autocomplete.input-group{
  border: 1px solid #ced4da;
  border-radius: 5px;
}
.autocomplete .btn{
  background: #dee2e6;
}
.items dropdown-menu li{
  list-style: none;
}
#view-user,#edit-user{
  display: contents;
}
span.select2.select2-container{
  width: 100% !important;
}
.adminNameDiv .form-control{
    padding: 1px 0 8px 10px;
    height: 28px !important;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #aaa;
}

/* Class to freeze input fields in edit section */
.make-it-freeze {
  background: #e9ecef;
  pointer-events: none; 
  /* Add other styles as needed */
}

/* .expiryDateUser {
  user-select: none;
}

.expiryDateUser:focus,
.expiryDateUser:active {
  touch-action: auto;
  user-select: text;
} */

/* .datetimepicker {
  pointer-events: auto;
} */